# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/


# VS Code Settings
.vscode/

# Operating System Files
.DS_Store
Thumbs.db

# Environment Variables
.env

# Uploaded Resume Files
app/uploads/